# Python internals
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual Env
venv/
.env

# Planning
project_specs/*

# MacOS junk
.DS_Store

# temporarily disable models (until their names are short enough)
models/*