# Python internals
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual Env
venv/
.env

# Planning
project_specs/*

# MacOS junk
.DS_Store

# temporarily disable models, data and artifacts from being tracked
models/*
data/*
artifacts/*